---
import '../../styles/global.css'

export interface Props {
	title: string
}

const { title } = Astro.props
const description =
	'DevFest Cali, 30 de Noviembre de 2024 - Prepárate para vivir una experiencia única y conectar con la comunidad de tecnología de nuestra región.'
const socialImage = new URL('/src/assets/images/SocialMediaPreview2024.jpg', Astro.url)
---

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<meta name="google" content="notranslate" />
<meta name="robots" content="all" />

<title>{title}</title>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImage.href} />
<meta property="og:image:width" content="926" />
<meta property="og:image:height" content="486" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImage.href} />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,700&family=Roboto:wght@100;400;700&display=swap&family=Roboto+Mono&display=swap"
	rel="stylesheet"
/>
