---
import { getCollection } from 'astro:content'

import Layout from '../layouts/Layout.astro'

import DevFestIntroSection from '../components/Sections/DevFestIntroSection.astro'
import HeaderSection from '../components/Sections/HeaderSection.astro'
import OrganizersSection from '../components/Sections/OrganizersSection.astro'
import SpeakersSection from '../components/Sections/SpeakersSection.astro'
import SponsorsSection from '../components/Sections/SponsorsSection.astro'
import LocationSection from '../components/Sections/LocationSection.astro'
import CallToActionCard from '../components/Sections/CallToActionCard.astro'
import AgendaSection from '../components/Sections/AgendaSection.astro'

const organizers = await getCollection('organizers')
const communitySponsors = await getCollection('sponsors', ({ data }) => {
	return data.type === 'community'
})
const companySponsors = await getCollection('sponsors', ({ data }) => {
	return data.type === 'company'
})
const speakers = await getCollection('speakers', ({ data }) => {
	return !data.hidden
})
const talks = await getCollection('talks')
---

<Layout title="DevFest Cali 2024">
	<HeaderSection />

	<main class="flex flex-col w-full overflow-hidden">
		<DevFestIntroSection />
		<SpeakersSection speakers={speakers} />
		<!-- <AgendaSection talks={talks} /> -->
		<!-- <SponsorsSection companies={companySponsors} communities={communitySponsors} /> -->
		<OrganizersSection organizers={organizers} />
		<!-- <CallToActionCard /> -->
	</main>

	<footer class="bg-df-esmerald-900 text-white py-12 flex flex-col justify-center items-center">
		<span>DevFest Cali 2024 - GDG Cali</span>
		<span class="text-sm">Hecho con el ❤️</span>
	</footer>
</Layout>
